.notification {
  position: fixed; /* Ignora scroll y layout del body */
  right: 20px;
  bottom: 105px;

  opacity: 0;

  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);

  z-index: 999999; /* Asegura que esté arriba de todo */
  width: 600px;

  background-color: var(--default-color-2);
  color: var(--alt-color);
}

.notification.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);

  animation: notificationAnimation 0.5s ease-in-out;
}

.info {
  background: var(--info-color);
  color: var(--default-color);
}

.success {
  background: var(--success-color);
  color: var(--alt-color);
}

.error {
  background: var(--fail-color);
  color: var(--alt-color);
}

.warning {
  background: var(--warning-color);
  color: var(--alt-color);
}
