#app > p {
  margin: 0;

  padding: 15px;
  font-size: 15px;
  text-align: left;
}

p.justifyText,
div.justifyText {
  text-align: justify;
}

div {
  padding: 10px;
}

div > p,
h1,
h2,
h3,
h4,
h5,
span {
  margin: 0;
}

i {
  color: var(--default-color-4);
}

a {
  color: var(--info-color);
  border-bottom: 2px solid var(--info-color); /* 2px de grosor, color negro */
  display: inline; /* Asegura que solo afecte al texto */
}

a:hover {
  color: var(--alt-color);
  border-color: var(--alt-color);
}

.titleBox {
  border-radius: 3px;
  width: 100%;
  padding: 10px 15px !important;

  font-size: 35px !important;
  font-weight: 900;

  text-align: left;
}

.basicBox {
  background-color: var(--default-color-2);
  border-radius: var(--border-radius-2);
  width: 100%;
  margin: 10px 0 !important;
  padding: 5px;
}

.basicBox.llamative {
  background: var(--primary-gradient);
  border-radius: var(--border-radius-2);
  width: 100%;
  color: var(--default-color);

  font-weight: bold;
}

.basicBox.onlyBorder {
  background-color: var(--default-color);
  border: 2px solid var(--default-color-2);
}

.fit {
  width: fit-content;
  padding: 10px;
}

.weakText {
  color: var(--alt-color-2);
  font-style: oblique;
  font-size: 13px !important;
  padding: 5px 0;
}
