#groupsContainer {
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que bajen a la siguiente línea */
  justify-content: center;
  margin: 0;
}

#groupsContainer > .groupCard {
  background-color: var(--default-color-2);

  border-radius: 30px;
  padding: 15px 20px 20px;
  margin: 10px;
  width: 450px;
  min-height: 110px;

  border-top: var(--default-color-3) solid 10px;
}

#groupsContainer > .groupCard:hover {
  background-color: var(--default-color-3);
}

#groupsContainer > .groupCard > * {
  padding: 3px 0;
}

#groupsContainer > .groupCard > .groupName {
  font-size: 22px;
  font-weight: bold;
}

#groupsContainer > .groupCard > .groupDescription {
  font-size: 17px;
}

#groupsContainer > .groupCard > .groupLength {
  font-size: 15px;
  color: var(--primary-color);
}

#groupsContainer > #createGroupCard {
  border: 0;
  /*Centrar sus items*/
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--default-color);
  border: var(--default-color-2) solid 2px;
  border-color: var(--default-color-2) !important;
}

#groupsContainer > #createGroupCard > .material-symbols-rounded {
  font-size: 50px;
  color: var(--default-color-2);
}

#groupsContainer > #createGroupCard:hover {
  background-color: var(--default-color-2);
}

#groupsContainer > #createGroupCard:hover > .material-symbols-rounded {
  color: var(--info-color);
}

#resetButton {
  max-height: 30px;
  width: calc(50% - 12.5px);
  padding: 0;
  /*boton estara centrado en la parte mas baja de su caja*/
  position: relative;
  bottom: 0;
  transform: translateY(30vw);
  color: var(--default-color-2);
}

#resetButton:hover {
  background-color: var(--fail-color);
  border-color: var(--fail-color);
  color: var(--default-color);
}

#instagramButton {
  width: calc(50% - 12.5px);
  padding: 0;
  /*boton estara centrado en la parte mas baja de su caja*/
  position: relative;
  bottom: 0;
  transform: translateY(30vw);
}
