#quizzesDataContainer {
  margin: 0;

  display: flex;
  flex-wrap: wrap; /* Permite que bajen a la siguiente línea */
  justify-content: center;
}

#quizzesDataContainer > .quizDataCard {
  background: var(--default-color-2);
  margin: 10px;
  padding: 0 0 20px 0;

  border-radius: 30px;
  width: 450px;
}
/*HEAD DIV ==================================================================================*/

#quizzesDataContainer > .quizDataCard > .headDiv {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* 👈 se quedan en la misma fila sí o sí */
  background-color: var(--default-color-3);

  border-radius: 29px 29px 0 0;

  padding: 5px;
  background-color: var(--default-color-2);
}

#quizzesDataContainer > .quizDataCard > .headDiv > * {
  width: 100%; /* Fijo */
  height: 40px;
  min-height: 0;

  background-color: var(--default-color-2);
  color: var(--alt-color);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  border: none;
  margin: 0 5px 0 0;
  padding: 0 !important;

  font-weight: 200;
  font-size: 20px;

  border: var(--default-color-3) solid 1px;
}

#quizzesDataContainer > .quizDataCard > .headDiv > *:hover {
  background-color: var(--default-color-4);
  border-color: var(--default-color-4);
}
#quizzesDataContainer > .quizDataCard > .headDiv > *:hover > span {
  color: var(--info-color);
}

#quizzesDataContainer > .quizDataCard > .headDiv > .index {
  background-color: var(--default-color-3);
  margin: -5px 5px 0 -5px;
  height: 50px;
  border-color: var(--default-color-3);
  color: var(--info-color);

  border-radius: 25px 0;
}
#quizzesDataContainer > .quizDataCard > .headDiv > .selectButton {
  margin: 0;
}

/*DATA DIV ====================================================================================*/
#quizzesDataContainer > .quizDataCard > .dataDiv {
  padding: 10px;
}
#quizzesDataContainer > .quizDataCard > .dataDiv > .group {
  font-size: 15px;
  width: fit-content;
  font-weight: 200;

  padding: 1px 5px;
  margin-bottom: 5px;
  border-radius: var(--border-radius-2);
  border: var(--default-color-3) solid 2px;

  background-color: var(--default-color-3);
  color: var(--info-color);
}
#quizzesDataContainer > .quizDataCard > .dataDiv > .question {
  font-size: 20px;
  font-weight: 600;
}

/*MORE DATA DIV ====================================================================================*/
#quizzesDataContainer > .quizDataCard > .moreDataDiv {
  background-color: var(--default-color-3);
  margin: 8px;
  border-radius: var(--border-radius-2);
  padding: 2px;
  padding-bottom: 0.3px;

  font-size: 20px;
  font-weight: 400;

  display: block;
}

#quizzesDataContainer > .quizDataCard > .moreDataDiv.hidden {
  display: none; /*BLOCK para ver*/
}

#quizzesDataContainer > .quizDataCard > .moreDataDiv > div {
  background-color: var(--default-color-2);
  margin-bottom: 2px;
  border-radius: var(--border-radius);
  padding: 5px;
}

#quizzesDataContainer > .quizDataCard > .moreDataDiv > div > .title {
  font-size: 10px;
  color: var(--alt-color-2);
  padding: 2px;
}

#quizzesDataContainer > .quizDataCard > .moreDataDiv > div > .content {
  padding: 0;
  font-size: 18px;
}

/*  SELECTED   */

#quizzesDataContainer > .quizDataCard.selected {
  background-color: var(--info-color);
}
#quizzesDataContainer > .quizDataCard.selected > .dataDiv > * {
  color: var(--default-color);
}
#quizzesDataContainer > .quizDataCard.selected > .headDiv {
  background-color: var(--info-color);
}
#quizzesDataContainer > .quizDataCard.selected > .headDiv > * {
  background-color: var(--default-color-3);
}

/*  CATALOG BAR  */

#catalogBar {
  gap: 15px;

  position: fixed;

  z-index: 9;

  width: 70%;
  height: 65px;

  margin: 0;
  border-radius: 30px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  animation: none;

  background-color: var(--default-color-2);
  box-shadow: 15px 0 15px rgba(0, 0, 0, 0.8);

  bottom: 15px;

  transform: translateX(-50%);
  left: 50%;

  animation: bottomFloatAnimation 0.65s ease-in-out;
}

#catalogBar > button {
  text-align: center;
  margin: 0;
  font-weight: 600;
  padding: 0;

  height: 100%;
  min-height: 0;

  background-color: var(--default-color-2);
  border-color: var(--alt-color-2);
  color: var(--alt-color);
}

#catalogBar > button:hover {
  background-color: var(--default-color-3);
}

#catalogBar > #removeButton {
  border-color: var(--fail-color);
  color: var(--alt-color);
  width: 72px;
}

#catalogBar > #removeButton:hover {
  background-color: var(--fail-color);
  color: var(--default-color);
}

#catalogBar > #removeButton > .material-symbols-rounded {
  color: var(--fail-color);
  font-size: 26px;
}

#catalogBar > #removeButton:hover > .material-symbols-rounded {
  color: var(--default-color);
}

#catalogBar > #exportButton > .material-symbols-rounded {
  display: none;
}

#catalogBar > #exportButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
