.groupCatalogTitle{
    background: var(--primary-gradient);
    color: var(--default-color);
    
    text-align: center !important;
    justify-self: center !important;
    width: 50% !important;

    margin: 10px 0 !important;

    /*Siguiente: cuando el texto no quepa, se pone en dos lineas*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}