#headContainer > p{
  padding: 5px;
  text-align: center !important;
  text-justify: center !important;
  color: var(--default-color-4);
}

#headBox {
  background-color: var(--default-color);
  border: var(--default-color-2) solid 2px;

  display: flex;
  justify-content: center;
  align-content: center;

  padding: 5px;
  border-radius: 30px;

  gap: 0 5px;
}

#headBox > #groupCatalogTitle {
  color: var(--alt-color);
  font-size: 30px;
  font-weight: bold;
  
  text-align: center !important;
  text-justify: center !important;
  padding-top: 3px; /*???*/

  text-align: center !important;
}

#headBox > #editGroupDataButton {
  padding: 2px 1px 0 1px;
  width: fit-content;
  height: fit-content;
  min-height: 0;

  border-color: var(--alt-color);
  border-radius: var(--border-radius-2);  
}

#headBox > #editGroupDataButton:hover{
  padding: 2px 1px 0 1px;
  background-color: var(--alt-color);
}

#headBox > #editGroupDataButton > .material-symbols-rounded {
  color: var(--alt-color);
} 

#headBox > #editGroupDataButton:hover > .material-symbols-rounded {
  color: var(--default-color);
}

