.quizBox {
  padding: 0;
}
.quizBox * {
  border-radius: var(--border-radius-2);
}

/*.quizBox.animated{...} esta en ANIMATIONS.CSS*/

.quizBox > .details {
  color: var(--default-color-3);
  font-size: 22px;
  padding: 5px;
  font-weight: 900;
}

.quizBox > .question {
  color: var(--clr);
  border-bottom: var(--primary-color) solid 2px;
  border-radius: 0;

  padding-bottom: 10px;

  font-size: 24px;
  font-weight: 900;

  text-align: left;
}

.quizBox > .optionsBox {
  padding: 5px 0 5px 0;
}

.quizBox > .optionsBox > .option {
  border: 2px solid var(--default-color-2);
  background-color: var(--default-color);

  width: 100%;
  padding: 10px;
  margin: 5px 0;

  text-align: left;
  cursor: pointer;
}

.quizBox > .optionsBox > .option:hover {
  border-color: var(--alt-color);
}

.quizBox > .optionsBox > .option.selectedOption {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.quizBox > .optionsBox > .option[disabled] {
  cursor: no-drop;
}

.quizBox > .optionsBox > .option[disabled].selectedOption {
  border-color: var(--fail-color);
  color: var(--fail-color);
}

.quizBox > .optionsBox > .option[disabled][value="correct"] {
  border-color: var(--success-color);
  background-color: var(--success-color);
  color: var(--default-color);
  font-weight: 700;
}

#feedbackBox {
  border-radius: var(--border-radius-2);
  width: 100%;
  padding: 5px 0 0 0;
}

#feedbackBox > .title {
  color: var(--alt-color-2);
  font-size: 22px;
  font-weight: 900;
  padding-bottom: 10px;
}

#feedbackBox > .content {
  font-size: 19px;
  padding: 10px;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
}

/*PRACTICEBAR =======================================================*/

#practiceBar {
  gap: 10px;

  position: fixed;

  z-index: 9;

  width: 100%;
  height: 85px;

  margin: 0;
  border-radius: 0;
  padding: 5px 10% 5px 5px;

  display: flex;
  flex-direction: row;
  justify-content: right;

  animation: none;

  background-color: var(--default-color);

  bottom: 15px;
  left: 0;
}

#practiceBar > button {
  text-align: center;
  margin: 0;
  font-weight: 600;
  padding: 0;
  width: 40%;
}

#practiceBar > #submitAnswerButton,
#practiceBar > #nextQuizButton {
  border-color: var(--primary-color);
  background-color: var(--default-color);
  color: var(--primary-color);
}

#practiceBar > #submitAnswerButton:hover,
#practiceBar > #nextQuizButton:hover {
  border-right-color: var(--primary-color);
  border-left-color: var(--primary-color);
}

#practiceBar > #nextQuizButton {
  background-color: none;
  background: var(--primary-gradient);
  color: var(--default-color);
  border-color: var(--default-color);
}

#practiceBar > #nextQuizButton:hover {
  border-width: 2px;
  border-color: var(--alt-color);
}

#practiceBar > #submitAnswerButton[disabled] {
  border-color: var(--default-color-3);
  background-color: var(--default-color);
  color: var(--default-color-3);
  cursor: no-drop;
}

#practiceBar > #submitAnswerButton[disabled]:hover {
  border: var(--default-color-3) solid 2px;
}

#practiceBar > #submitAnswerButton[disabled]:active {
  background-color: var(--fail-color);
}
