@keyframes appEntryAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navBarEntryAnimation {
  from {
    transform: translatex(-100%);
  }
  to {
    transform: translatex(0);
  }
}
@keyframes sideBarEntryAnimation {
  from {
    transform: translatex(100%);
  }
  to {
    transform: translatex(0);
  }
}
@keyframes bottomFloatAnimation {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes exitBottomFloatAnimation {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(100%);
  }
}

@keyframes quizBoxAnimation { /*AQUI PUEDE HABER FALLA?*/
  from {
    translate: 210% 0;
  }
  to {
    translate: auto;
  }
}
@keyframes hideQuizBoxAnimation {
  from {
    translate: 50% 0;
  }
  to {
    translate: -130% 0;
  }
}
@keyframes hideQuizBoxAnimationMovile{
  from {
    translate: 0 0;
  }
  to {
    translate: -130% 0;
  }
}
@keyframes notificationAnimation {
  from {
    background-color: var(--default-color-4);
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popupAnimation {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes closePopupAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110%);
  }
}

#main {
  animation: appEntryAnimation 1s ease-in-out;
}

#sidebar {
  animation: sideBarEntryAnimation 2.5s ease-in-out;
}

#navigationBar {
  animation: navBarEntryAnimation 2.5s ease-in-out;
}

.animated {
  animation: appEntryAnimation 3s ease-in-out;
}

.quizBox.animated {
  animation: quizBoxAnimation 1.5s ease-in-out;
}

.quizBox.hideQuizBoxAnimation {
  translate: 130% 0;
  animation: hideQuizBoxAnimation 0.65s ease-in-out !important;
}

.exitBottomFloatAnimation {
  animation: exitBottomFloatAnimation 0.6s ease-in-out !important;
}

.popupContent {
  animation: popupAnimation 1s ease-in-out;
}
.closePopupAnimation {
  animation: closePopupAnimation 0.65s ease-in-out !important;
}
