/* Estilos para los botones ============================================*/
button,
a {
  -webkit-tap-highlight-color: transparent; /* Quita el resaltado azul en móviles */
}

button {
  background-color: var(--default-color);
  border: var(--default-color-3) solid 2px;
  color: var(--alt-color);
  border-radius: 30px;

  padding: 20px;

  outline: none; /* Quita el borde de enfoque */

  font-size: 15px;
  text-align: center;

  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--default-color);
  border: var(--alt-color) solid 2px;
  color: var(--alt-color);

  border-left: var(--alt-color) solid 20px;
  border-right: var(--alt-color) solid 20px;

  padding: 20px 0;
}

button:active {
  background-color: var(--alt-color);
  color: var(--default-color);
}

#backButton,
#createButton {
  border: var(--default-color-4) solid 2px;
  border-radius: var(--border-radius-2);
  background-color: var(--default-color);
  color: var(--default-color-3);
  padding: 0;

  width: 60px;
  height: 60px;
  min-width: 0;
  min-height: 0;

  justify-content: center;
  align-items: center;
}

#backButton > .material-symbols-rounded,
#createButton > .material-symbols-rounded {
  font-size: 35px;
  color: var(--default-color-4);
  margin: 0;
  padding: 0;

  margin-top: 5px; /*mala practica, pero centra el icono*/
}

#backButton:hover,
#createButton:hover {
  border-color: var(--fail-color);
  background-color: var(--fail-color);
}

#backButton:hover > .material-symbols-rounded,
#createButton:hover > .material-symbols-rounded{
  color: var(--default-color);
}

#createButton{
  border-color: var(--primary-color);
}

#createButton > .material-symbols-rounded{
  color: var(--primary-color);
}

#createButton:hover{
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

#createQuizButton,
#saveChangesButton{
  width: 98%;
}