/* Estilos para los inputs ============================================*/

input,
textarea {
  background-color: var(--default-color);
  border: var(--default-color-2) solid 1.5px;

  outline: none;

  padding: 20px;
  border-radius: var(--border-radius-2);

  font-size: 15px;

  margin: 5px;

  width: 45%;
}

input:hover,
textarea:hover {
  border-color: var(--default-color-3);
}

input:focus,
textarea:focus {
  border-color: var(--alt-color);
}
