/* Estilos para los inputs ============================================*/

input,
textarea,
select {
  background-color: var(--default-color);
  border: var(--default-color-3) solid 2px;

  outline: none;

  padding: 20px;
  border-radius: 30px;

  font-size: 15px;
  margin: 5px;
}

input,
button,
textarea,
select{
  width: 46.5%;
  min-height: 60px;
}

input:hover,
textarea:hover,
select:hover {
  border-color: var(--default-color-4);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--alt-color);
}

textarea {
  min-height: 100px;
  width: 99%;
}
