/* Estilos para el LAYOUT  ============================================*/
#main {
  width: calc(100vw - 20px);
  min-height: calc(100vh + 100px);
  padding: 10px 280px 0 110px;
  box-sizing: border-box;
}

#main.extended {
  padding: 10px 15%;
}

#app {
  width: 100%;
  margin: 0 0;
  padding: 0;
  border-radius: var(--border-radius-2);
}

#sidebar,
#navigationBar {
  display: flex;
  height: 100%;

  gap: 10px;
  padding: 10px;

  flex-direction: column;
  position: fixed;
}

#sidebar > *,
#navigationBar > * {
  border-radius: 40px;

  align-content: left;
  align-items: left;
}

#sidebar {
  right: 0;
  top: 0;

  width: 290px;
  background-color: var(--default-color);
  border-left: var(--default-color-2) solid 2px;

  z-index: 10;
}

#navigationBar {
  top: 0;

  width: 100px;
  background-color: var(--default-color);
  border-right: var(--default-color-2) solid 2px;

  z-index: 9;
}

/* ELEMENTOS DE NAVIGATIONBAR  ============================================*/

#navigationBar > a {
  justify-content: flex-start; /* Alinea a la izquierda */

  align-items: stretch; /* Igual altura para todos */
  box-sizing: border-box;
  font-size: 19px;
  color: var(--alt-color);

  width: 100%;
  height: 30px;

  border: var(--default-color) solid 2px;

  padding: 2px;
  margin-bottom: 20px;

  color: var(--alt-color);

  text-align: center;
}

#navigationBar > a > p {
  text-align: center;
  font-size: 13px;
  margin: 0;
}

#navigationBar > a > .material-symbols-outlined {
  font-size: 25px;
}

#navigationBar > a:hover {
  background-color: var(--default-color-3);
  border-width: none;
}

#navigationBar > a:active {
  background-color: var(--alt-color);
  color: var(--default-color);
}
#navigationBar > a:active .material-symbols-outlined {
  color: var(--default-color);
}

#navigationBar > .iconAndText {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;

  padding: 10px 0;
}

.card,
#sidebar > a {
  background-color: var(--default-color);
  border-radius: var(--border-radius-2);

  width: 100%;
  padding: 20px 10px 10px 10px;
  min-height: 100px;
  font-weight: 600;

  text-align: center;

  outline: var(--default-color-2) solid 2px;
}

.card:hover,
#sidebar > a:hover {
  outline-color: var(--alt-color);
}

.card > p,
#sidebar > a > p {
  color: var(--alt-color-2);
}
