/* Estilos para el LAYOUT  ============================================*/
#main {
  width: calc(100vw - 17px);
  min-height: 100vh;
  padding: 10px 300px 0 260px;
  box-sizing: border-box;

  animation: appEntryAnimation 2s ease-in-out;
}

#app {
  width: 100%;
  margin: 0 0;
  padding: 0;
  border-radius: var(--border-radius-2);
}

#sidebar,
#navigationBar {
  display: flex;
  height: 98.9%;

  gap: 10px;
  padding: 30px 5px 5px 5px;
  margin: 5px;

  border-radius: var(--border-radius-2);

  flex-direction: column;

  position: fixed;
}

#sidebar > *,
#navigationBar > * {
  border-radius: var(--border-radius-2);

  align-content: left;
  align-items: left;
}

#sidebar {
  right: 0;
  top: 0;

  width: 290px;
  background-color: var(--default-color);
  border: var(--default-color-2) solid 3px;

  z-index: 10;

  animation: sideBarEntryAnimation 2.5s ease-in-out;
}

.test {
  background-color: red;
}

#navigationBar {
  top: 0;

  width: 250px;
  background-color: var(--default-color-2);

  z-index: 9;

  animation: navBarEntryAnimation 2.5s ease-in-out;
}

/* ELEMENTOS DE NAVIGATIONBAR  ============================================*/

#navigationBar > a {
  justify-content: flex-start; /* Alinea a la izquierda */

  align-items: stretch; /* Igual altura para todos */
  box-sizing: border-box;
  font-size: 19px;
  color: var(--alt-color);

  width: 100%;
  height: 60px;

  border: var(--default-color-4) solid 0;

  padding: 20px;

  color: white;

  text-align: center;
}

#navigationBar > a:hover {
  background-color: var(--default-color-3);
}

#navigationBar > a:active {
  background-color: var(--default-color-4);
}

#navigationBar > .iconAndText {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;

  border-bottom: var(--default-color-4) solid 3px;
  padding: 10px 0;
}

#sidebar > .card {
  background-color: var(--default-color-2);
  border-radius: var(--border-radius-2);

  width: 100%;
  padding: 20px 10px 10px 10px;
  min-height: 100px;

  text-align: center;
}

#sidebar > .card:hover {
  background-color: var(--default-color-3);
}

#sidebar > .card.onlyBorder {
  background-color: var(--default-color);
  outline: var(--default-color-2) solid 2px;
}

#sidebar > .card.onlyBorder:hover {
  outline-color: var(--default-color-3);
}

#sidebar > .card > p {
  color: var(--alt-color-2);
}
