@import url("./variables.css");

@import url("./animations.css");
@import url("./layout.css");

@import url("./ui/forms.css");
@import url("./ui/buttons.css");
@import url("./ui/notifications.css");
@import url("./ui/text.css");
@import url("./ui/dropdowns.css");
@import url("./ui/popups.css");
@import url("./ui/bottomSheets.css");

@import url("./pages/practice.css");
@import url("./pages/catalog.css");

@import url("./responsive.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  align-items: center;
  flex-direction: column; /* Para que el contenido sea apilado de arriba hacia abajo */
  text-align: center; /* Centrado del texto */

  width: 100%;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */

  background-color: var(--default-color);

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
}
body * {
  max-width: 100%;
}

* {
  color: var(--alt-color);
  transition: all 0.3s ease-in-out; /* Agrega una transición para todos los cambios */
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-variant: normal;

  text-decoration: none;
  text-align: left;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--default-color);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.visible{
  display: block;
}

.noVisible{
  display: none;
}
