@import url("./animations.css");
@import url("./layout.css");

@import url("./inputs.css");
@import url("./buttons.css");

@import url("./stylesForSubpages/practice.css");
@import url("./stylesForSubpages/catalog.css");
@import url("./stylesForSubpages/createQuizzes.css");

@import url("./responsive.css");

:root {
  --default-color: #0a0a0a;
  --default-color-2: #1f1f1f;
  --default-color-3: #373737;
  --default-color-4: #3b3b3b;

  --alt-color: #e0e0e0;
  --alt-color-2: #9e9e9e;

  --primary-color: #FFB74D;  
  --secondary-color: #ff7e6b;   

  --success-color: #5dae60;
  --info-color: rgb(106, 165, 167);
  --warning-color: #ff9800;
  --fail-color: #c95a52; 

  /* Gradiente Científico */
  --primary-gradient: linear-gradient(
    135deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );

  --border-radius: 3px;
  --border-radius-2: 5px;
}

/* Reset global styles for all elements */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  align-items: center;
  flex-direction: column; /* Para que el contenido sea apilado de arriba hacia abajo */
  text-align: center; /* Centrado del texto */

  width: 100%;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */

  background-color: var(--default-color);

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
}
body * {
  max-width: 100%;
}

* {
  color: var(--alt-color);
  transition: all 0.3s ease-in-out; /* Agrega una transición para todos los cambios */
  box-sizing: border-box;
  
  font-family: "Roboto", sans-serif;
  font-variant: normal;

  text-decoration: none;
  text-align: left;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--default-color);
}



.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Estilos para los contenedores principales ============================================*/

#app > p {
  margin: 0;

  padding: 15px;
  font-size: 15px;
  text-align: left;
}

p.justifyText,
div.justifyText {
  text-align: justify;
}

div {
  padding: 10px;
}

div > p,
h1,
h2,
h3,
h4,
h5,
span {
  margin: 0;
}

a {
  color: var(--info-color);
  border-bottom: 2px solid var(--info-color); /* 2px de grosor, color negro */
  display: inline; /* Asegura que solo afecte al texto */
}

a:hover {
  color: var(--alt-color);
  border-color: var(--alt-color);
}

.titleBox {
  border-radius: 3px;
  width: 100%;
  padding: 10px 15px !important;

  font-size: 35px !important;
  font-weight: 900;

  text-align: left;
}

.basicBox {
  background-color: var(--default-color-2);
  border-radius: var(--border-radius-2);
  width: 100%;
  margin: 10px 0 !important;
}

.basicBox.llamative {
  background: var(--primary-gradient);
  border-radius: var(--border-radius-2);
  width: 100%;
  color: var(--default-color);

  font-weight: bold;
}

.basicBox.OnlyBorder {
  background-color: var(--default-color);
  border: 3px solid var(--default-color-2);
}

.weakText{
  color: var(--alt-color-2);
  font-style: oblique;
  font-size: 13px !important;
}

.notification {
  position: fixed; /* Ignora scroll y layout del body */
  right: 20px;
  bottom: 90px;
  opacity: 0;

  background: var(--default-color-2);
  color: var(--alt-color);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);

  z-index: 999999; /* Asegura que esté arriba de todo */
  max-width: 300px;
}

.notification.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
