.quizBox {
  padding: 0;
}

.quizBox.animated {
  animation: quizBoxAnimation 1s ease-in-out;
}
.quizBox * {
  border-radius: var(--border-radius-2);
}

.quizBox > .details {
  color: var(--default-color-3);
  font-size: 22px;
  padding: 5px;
  font-weight: 900;
}

.quizBox > .question {
  color: var(--clr);
  border-bottom: var(--primary-color) solid 2px;
  border-radius: 0;

  padding-bottom: 10px;

  font-size: 24px;
  font-weight: 900;

  text-align: left;
}

.quizBox > .optionsBox{
  padding: 5px 0 0 0;
}

.quizBox > .optionsBox > .option {
  border: 2px solid var(--default-color-2);
  background-color: var(--default-color);

  width: 100%;
  padding: 10px;
  margin: 5px 0;

  text-align: left;
  cursor: pointer;
}

.quizBox > .optionsBox > .option:hover {
  border-color: var(--alt-color);
}

.quizBox > .optionsBox > .option:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.quizBox > .optionsBox > .option[disabled] {
  cursor: no-drop;
  border-color: var(--fail-color);
  color: var(--fail-color);
  
}

.quizBox > .optionsBox > .option[disabled][value="correct"] {
  border-color: var(--success-color);
  background-color: var(--success-color);
  color: var(--default-color);
  font-weight: 700;
}

#backButton {
  border: var(--default-color-3) solid 2px;
  border-radius: var(--border-radius-2);
  background-color: var(--default-color);
  color: var(--default-color-3);
  padding: 0;

  width: 60px;
  height: 60px;
  min-width: 0;
  min-height: 0;

  text-align: center;
  font-size: 27px;
  font-weight: 900;
}

#backButton:hover{
  border-color: var(--fail-color);
  color: var(--alt-color);
}

/*PRACTICEBAR =======================================================*/

#practiceBar {
  gap: 10px;

  position: fixed;

  z-index: 9;

  width: 100%;
  height: 85px;

  margin: 0;
  border-radius: 0;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  animation: none;

  background-color: var(--default-color);
  border-top: var(--default-color-2) solid 3px;

  bottom: 0;
  left: 0;
}

#practiceBar > button {
  text-align: center;
  margin: 0;
  font-weight: 600;
  padding: 0;
  width: 40%;
}

#practiceBar > #submitAnswerButton,
#practiceBar > #nextQuizButton {
  border-color: var(--primary-color);
  background-color: var(--default-color);
  color: var(--primary-color);
}

#practiceBar > #submitAnswerButton:hover,
#practiceBar > #nextQuizButton:hover {
  border-right-color: var(--primary-color);
  border-left-color: var(--primary-color);
}

#practiceBar > #nextQuizButton {
  background-color: none;
  background: var(--primary-gradient);
  color: var(--default-color);
  border-color: var(--default-color);
}

#practiceBar > #nextQuizButton:hover {
  border-width: 2px;
  border-color: var(--alt-color);
}
