@media (max-width: 910px) {
  /*LAYOUT ==========================================================*/
  #navigationBar {
    width: 100%;
    height: 80px;

    margin: 0;
    border-radius: 0;
    padding: 5px;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    animation: none;
  }

  #navigationBar {
    background-color: var(--default-color);
    border: none;
    border-top: var(--default-color-2) solid 3px;

    bottom: 0;
    top: auto;
  }

  #navigationBar > .iconAndText {
    display: none;
  }

  #navigationBar > a > p {
    font-size: 0;
  }

  #navigationBar > a {
    min-height: 0;
    min-width: 0;
    width: 60px;
    height: 60px;

    margin-top: 3px;

    padding-top: 13px;
  }

  #navigationBar > a > .material-symbols-rounded {
    font-size: 30px;
    padding: 0;
  }

  #main {
    padding: 20px 5px 80px;
    width: calc(100vw - 1px);
  }

  #main.extended {
    padding: 10px 5px 80px;
  }

  #navigationBar > .centerNavbarButton {
    background: var(--primary-gradient);
    outline: var(--default-color) solid 2px;
  }

  #navigationBar > .centerNavbarButton > .material-symbols-rounded {
    color: var(--default-color);
  }

  #navigationBar > .centerNavbarButton:hover {
    background: none;
    background-color: var(--default-color);
    outline: var(--primary-color) solid 2px;
  }

  #navigationBar > .centerNavbarButton:hover > .material-symbols-rounded {
    color: var(--primary-color);
  }
  /*y que pasa si quiero que todos los childs despues de este tambien?*/

  /*INPUTS =============================================================================*/
  input,
  textarea,
  select {
    width: 100%;
    margin: 5px 0 5px 0;
  }

  input:hover,
  textarea:hover,
  select:hover {
    border-color: var(--default-color);
  }
  button {
    padding: 5px;
  }

  button:hover {
    border-width: 2px;
  }

  .llamativeButton {
    width: 98%;
    margin-top: 15 px;
  }

  .optionsBox > input {
    border-radius: 0;
    margin: 0;
    border-color: var(--default-color-2);
    border-bottom-color: var(--default-color-3);
  }

  .optionsBox > input:hover {
    border-color: var(--default-color-3);
  }

  .inputsContainer {
    padding: 5px;
    gap: 20px;
    margin: 0;
  }

  .inputsContainer > .inputBox {
    /*que cada item ocupe el 100%*/
    width: 100%;
  }

  .inputsContainer > .inputBox > p {
    padding: 0 0 5px 25px;
  }
  /*Cambia el background-color del primer input y el ultimo a rojo*/

  .optionsBox > input:first-of-type {
    border-radius: 30px 30px 0 0;
    margin-top: 5px;
  }

  .optionsBox > input:last-of-type {
    border-radius: 0 0 30px 30px;
    border-color: var(--default-color-2);
  }

  .optionsBox > input:last-of-type:hover {
    border-color: var(--default-color-3);
  }

  .titleBox {
    font-size: 26px !important;
  }

  /*CATALOG ============================================================================*/

  #quizzesDataContainer {
    padding: 0;
    margin: 0;
  }
  #quizzesDataContainer > .quizDataCard {
    margin: 10px 0;
  }
  .quizBox {
    width: 100% !important;
    translate: 0;
  }
  .quizBox.hideQuizBoxAnimation {
    animation: hideQuizBoxAnimationMovile 0.65s ease-in-out !important;
  }
  #practiceBar {
    padding: 5px 20px 70px 5px;
  }

  .notification {
    width: 100%;
    border-radius: 0;
    margin: 0;
    right: 0;
    bottom: 90px;
  }

  .popup {
    padding: 0 !important;
  }

  .popupContent {
    height: 100% !important;
    border-radius: 0 !important;
  }

  .closePopup {
    top: 50px !important;
    right: 25px !important;
  }

  #catalogBar {
    padding: 5px;
    height: 80px;
    width: 100%;
    bottom: 0;
    border-radius: 30px 30px 0 0;
    background-color: var(--default-color);
    border-top-color: var(--default-color-2);

    /*quiero que los items de adentro abarquen todo lo que puedan*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex;
    gap: 5px;
  }

  #catalogBar > button {
    background-color: var(--default-color);
  }

  .groupCatalogTitle {
    width: 100% !important;
  }
  #catalogBar > #exportButton > .material-symbols-rounded {
    display: block;
  }

  #catalogBar > #exportButton {
    width: 72px;
  }

  #catalogBar > #exportButton > p {
    display: none;
  }

  #catalogBar > #groupButton {
    width: calc(
      100% - 72px - 72px - 10px
    ); /*100% - button - button - father padding*/
  }
}
