@media (max-width: 800px) {
  /*LAYOUT ==========================================================*/
  #navigationBar,
  #sidebar {
    width: 100%;
    height: 80px;

    margin: 0;
    border-radius: 0;
    padding: 5px;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    animation: none;
  }

  #navigationBar {
    background-color: var(--default-color);
    border: none;
    border-top: var(--default-color-2) solid 3px;

    bottom: 0;
    top: auto;
  }

  #navigationBar > .iconAndText {
    display: none;
  }

  #navigationBar > a > p {
    font-size: 0;
  }

  #navigationBar > a {
    min-height: 0;
    min-width: 0;
    width: 60px;
    height: 60px;

    margin-top: 3px;

    padding-top: 13px;
  }

  #navigationBar > a > .material-symbols-rounded {
    font-size: 30px;
    padding: 0;
  }

  #sidebar {
    border-top: none;
    border-left: none;
    border-right: none;
    top: 0;
  }

  #main {
    padding: 50px 5px 80px 5px;
    width: calc(100vw - 1px);
  }

  #main.extended {
    padding: 10px 5px 80px;
  }

  #navigationBar > .centerNavbarButton {
    background: var(--primary-gradient);
    outline: var(--default-color) solid 2px;
  }

  #navigationBar > .centerNavbarButton > .material-symbols-rounded {
    color: var(--default-color);
  }

  #navigationBar > .centerNavbarButton:hover {
    background: none;
    background-color: var(--default-color);
    outline: var(--primary-color) solid 2px;
  }

  #navigationBar > .centerNavbarButton:hover > .material-symbols-rounded {
    color: var(--primary-color);
  }
  /*y que pasa si quiero que todos los childs despues de este tambien?*/

  /*INPUTS =============================================================================*/
  input,
  textarea,
  select {
    width: 99%;
    margin: 5px 0 5px 0;
  }
  button {
    padding: 5px;
  }

  button:hover {
    border-width: 2px;
  }

  /*MORE*/

  #sidebar {
    height: 50px;
  }

  #sidebar > a {
    padding: 0;
    align-content: center;
    min-height: 0;

    border: var(--default-color-2) solid 3px;
    outline: 0;
    font-weight: 400;

    color: var(--alt-color);
  }

  #sidebar > a:hover {
    background-color: var(--default-color-2);
    color: var(--info-color);
  }

  #sidebar > a > p {
    display: none;
  }

  .titleBox {
    font-size: 26px !important;
  }

  /*CATALOG ============================================================================*/

  #quizzesDataContainer {
    padding: 0;
    margin: 0;
  }
  #quizzesDataContainer > .quizDataCard {
    margin: 10px 0;
  }
  .quizBox{
    width: 100% !important;
    translate: 0;
  }
  .quizBox.hideQuizBoxAnimation {
    animation: hideQuizBoxAnimationMovile 0.65s ease-in-out !important;
  }
  #practiceBar{
    padding: 5px 20px 5px 5px;
  }

  .notification {
    width: 100%;
    border-radius: 0;
    margin: 0;
    right: 0;
    bottom: 90px;
  }

  .popup {
    padding: 0 !important;
  }

  .popupContent {
    height: 100% !important;
    border-radius: 0 !important;
  }

  .closePopup {
    top: 50px !important;
    right: 25px !important;
  }

  #catalogBar {
    padding: 5px;
    height: 80px;
    width: 100%;
    bottom: 0;
    border-radius: 30px 30px 0 0;
    background-color: var(--default-color);
    border-top-color: var(--default-color-2);
  }

  #catalogBar > button {
    background-color: var(--default-color);
  }

  .groupCatalogTitle {
    width: 100% !important;
  }
}
