:root {
    --default-color: #0a0a0a;
    --default-color-2: #1f1f1f;
    --default-color-3: #373737;
    --default-color-4: #5b5b5b;
  
    --alt-color: #e0e0e0;
    --alt-color-2: #9e9e9e;
  
    --primary-color: #ffb74d;
    --secondary-color: #ff7e6b;
  
    --success-color: #5dae60;
    --info-color: rgb(106, 165, 167);
    --warning-color: #ff9800;
    --fail-color: #c95a52;

    --verde-color: #46e34c;
    --rojo-color: #ff4d40;
    --aqua-color: rgb(138, 247, 251);
    --azul-color: #3765ff;
    --naranja-color: #ff9800;
    --amarillo-color: #fff833;
    --morado-color: #dd3bfa;
    --menta-color: #00ffff;
  
    --primary-gradient: linear-gradient(
      135deg,
      var(--secondary-color) 0%,
      var(--primary-color) 100%
    );
  
    --border-radius: 3px;
    --border-radius-2: 5px;
  }